{% extends 'users/home.html' %}

{% block title %}Предметы{% endblock %}

{% block inner_content %}
    {% if decan %}
        <div class="row">
            <div class="col-6">
                <form action="{% url 'subjects' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Название предмета</span>
                        </div>
                        <input name="name" type="text" aria-label="First name" class="form-control">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Создать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="row row-cols-6">
        {% if subjects|length == 1 %}
            {% include 'users/search/subject.html' with s=subjects.0 %}
        {% elif subjects|length > 1 %}
            {% for s in subjects %}
                {% include 'users/search/subject.html' with s=s %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}